@tailwind base;
@tailwind components;
@tailwind utilities;


/* Slider styles */
.slider {
  position: relative;
  max-width: 60%; /* Full width of the container */
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.7s ease;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 1000px; /* Full width of the slide */
  height: 600px; /* Maintain aspect ratio */
  display: block;
}

